label {
	display: flex;
	height: 30px;
	line-height: 30px;
	margin-bottom: 6px;
	input {
		flex: 1;
		font-size: 18px;
		text-indent: 6px;
	}
	span {
		width: 80px;
		display: inline-block;
	}
}
button {
	width: 100%;
	height: 34px;
	border-radius: 2px;
	background-color: #1ba9ba;
	outline: none;
	border: none;
	transition: .2s ease;
	color: #fff;
	font-weight: 600;
	&:active {
		background-color: #1999a8;
	}
}
p {
	width: 100%;
	height: 20px;
}